---
layout: base
---

{% for post in site.posts %}  
<article class="post">
  <!-- post header -->
  <div class="post-head">
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="post-meta">
      <time class="post-data">{{ post.date | date:'%Y-%m-%d' }}</time>
    </div>
  </div>
  <!-- post content -->
  <div class="post-content">
    <p>{{ post.content | split: '<!-- more -->'| first }}</p>
  </div>
  <!-- post permalink -->
  <div class="post-permalink">
    <a href="{{ post.url }}" class="btn btn-default">阅读全文</a>
  </div>
  <!-- post footer -->
  <footer class="post-footer clearfix">
    <div class="pull-left tag-list">
      <i class="fa fa-folder-open-o"></i>
      <a href="/">Blog</a>,
      <a href="/">Jchluo</a>,
      <a href="/">Try</a>
    </div>
  </footer>
</article>
{% endfor %}
<script>
var articleList = [
{% for post in site.posts %}  
    {
        "title":"{{post.title}}",  
        "url":"{{site.url}}{{post.url}}",  
        "date":"{{ post.date | date:'%Y-%m-%d' }}",  
        "excerpt": '{{ post.excerpt | strip_html | strip_newlines | truncate:170 }}'
        {% if post.categories != empty %}
            ,
            "categories":[
                {% for category in post.categories %}
                    "{{category}}"
                        {% if forloop.last == false %}
                            ,
                        {% endif %}
                {% endfor %}
                ]
        {% endif %}}  
        {% if forloop.last == false %}
        ,
        {% endif %}
{% endfor %}
];  
</script>
