---
layout: base
---

<script>
var articleList = [
{% for post in site.posts %}  
    {
        "title":"{{post.title}}",  
        "url":"{{site.url}}{{post.url}}",  
        "date":"{{ post.date | date:'%Y-%m-%d' }}",  
        "excerpt": '{{ post.excerpt | strip_html | strip_newlines | truncate:170 }}'
        {% if post.categories != empty %}
            ,
            "categories":[
                {% for category in post.categories %}
                    "{{category}}"
                        {% if forloop.last == false %}
                            ,
                        {% endif %}
                {% endfor %}]
        {% endif %}}  
        {% if forloop.last == false %}
        ,
        {% endif %}
{% endfor %}
            ];  
console.log(articleList);
</script>